// FONT FAMILIES
$font_Inter: 'Inter', sans-serif;
// FONT FAMILIES

.h1,
h1 {
  font-family: $font_Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;

  @include tablet {
    font-size: 48px;
    line-height: 58px;
  }

  @include desktop {
    font-size: 64px;
    line-height: 76px;
  }
}

.h2,
h2 {
  font-family: $font_Inter;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;

  @include tablet {
    font-size: 40px;
    line-height: 48px;
  }

  @include desktop {
    font-size: 48px;
    line-height: 58px;
  }
}

.h3,
h3 {
  font-family: $font_Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;

  @include tablet {
    font-size: 32px;
    line-height: 40px;
  }

  @include desktop {
    font-size: 36px;
    line-height: 44px;
  }
}

.h4,
h4 {
  font-family: $font_Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;


  @include tablet {
    font-size: 24px;
    line-height: 32px;
  }

  @include desktop {
    font-size: 28px;
    line-height: 36px;
  }
}

.h5,
h5 {
  font-family: $font_Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;


  @include tablet {
    font-size: 20px;
    line-height: 28px;
  }

  @include desktop {
    font-size: 22px;
    line-height: 30px;
  }
}

.h6,
h6 {
  font-family: $font_Inter;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 22px;

  @include tablet {
    line-height: 24px;
  }

  @include desktop {
    font-size: 18px;
    line-height: 26px;
  }
}

.body1 {
  font-family: $font_Inter;
  font-size: 15px;
  font-style: normal;
  line-height: 22px;

  @include tablet {
    font-size: 16px;
    line-height: 26px;
  }

  @include desktop {
    font-size: 18px;
    line-height: 28px;
  }
}

.body2 {
  font-family: $font_Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;

  @include tablet {
    line-height: 22px;
  }

  @include desktop {
    font-size: 16px;
    line-height: 24px;
  }
}

.body3 {
  font-family: $font_Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;

  @include tablet {
    font-size: 13px;
    line-height: 20px;
  }

  @include desktop {
    font-size: 14px;
  }
}

.primary {
  background-color: $secondary;
  color: $dark-gray;
  padding: $space-10 $space-20;
  border-radius: $space-10;
  text-decoration: none;
  @extend .h6;

  &:hover {
    background-color: $primary;
    color: $white;
    box-shadow: 0 2px 6.5px 0 $secondary;
  }
}

.secondary {
  background-color: $secondary;
  color: $dark-gray;
  padding: $space-10 $space-76;
  border-radius: $space-10;
  @extend .h6;

  &:hover {
    background-color: $primary;
    color: $white;
  }
}