// Define Colors Variables
$primary: #6B5423;
$secondary: #FFF8EA;
$tertiary: #EBE4D7;
$white: #fff;
$dark-gray: #343434;



// Define Spacing Variables
$space-6: 6px;
$space-8: 8px;
$space-10: 10px;
$space-12: 12px;
$space-16: 16px;
$space-18: 18px;
$space-20: 20px;
$space-30: 30px;
$space-35: 35px;
$space-45: 45px;
$space-70: 70px;
$space-76: 76px;
$space-60: 60px;
$space-68: 68px;
$space-90: 90px;
$space-100: 100px;
$space-110: 110px;