.style_1 {
    .hero-section-wrapper {
        background: radial-gradient(101.28% 101.28% at 50% 50%, #FFF8EA 0%, #7F6630 100%);
        padding-top: 8rem;

        @include tablet {
            padding-top: 0;
        }

        .hero-section {
            @extend .container;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;

            @include tablet {
                flex-direction: row;
                height: 687px;

            }

            .hero-body {
                h1 {
                    padding-bottom: $space-30;
                    color: $primary;

                    span {
                        color: $white;
                    }
                }

                .button-wrapper {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    gap: $space-20;

                    @include tablet {
                        flex-direction: row;
                    }


                    .explore-btn {
                        width: 100%;

                        @include tablet {
                            width: unset;
                        }

                        a {
                            @extend .primary;
                            width: 100%;
                            display: block;
                            text-align: center;

                            @include tablet {
                                width: unset;
                            }
                        }
                    }

                    .whatsapp-btn {
                        width: 100%;

                        @include tablet {
                            width: unset;
                        }

                        a {
                            @extend .primary;
                            width: 100%;
                            display: block;
                            text-align: center;

                            @include tablet {
                                width: unset;
                            }
                        }
                    }
                }
            }

            .hero-image {}
        }
    }
}

.organic-main-wrapper {
    @extend .container;
    padding-block: $space-70;

    @include tablet {
        padding-block: $space-100;
    }

    @include desktop {
        padding-block: $space-110;
    }

    .organic-heading {
        text-align: center;
        @extend .h2;
        color: $primary;
    }

    .organic-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: $space-35;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            padding-top: $space-60;
        }

        .organic-image {
            text-align: center;

            img {
                height: 135px;
            }
        }

        .organic-name {
            @extend .h5;
        }
    }

}

.style_2 {
    position: relative;

    .hero-image {
        img {
            width: 100%;
            height: 280px;
            object-fit: cover;

            @include tablet {
                height: 330px;
            }

            @include desktop {
                height: 388px;
            }
        }

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            height: 280px;
            background: linear-gradient(90deg, rgba(107, 84, 35, 0.80) 14.56%, rgba(255, 248, 234, 0.80) 100%);

            @include tablet {
                height: 330px;
            }

            @include desktop {
                height: 388px;
            }
        }
    }

    .hero-section-wrapper {
        .hero-section {
            @extend .container;
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            padding-block: $space-30;

            @include tablet {
                padding-block: $space-35;
            }

            @include desktop {
                padding-block: $space-68;
            }

            .hero-body {
                width: 100%;

                @include tablet {
                    width: 60%;
                }

                @include desktop {
                    width: 50%;
                }

                h3 {
                    color: $white;
                }

                p {
                    @extend .body1;
                    color: $white;
                    padding-block: $space-8 $space-12;
                }

                .button-wrapper {
                    display: flex;

                    .explore-btn {
                        width: 100%;

                        @include tablet {
                            width: unset;
                        }

                        a {
                            @extend .primary;
                            width: 100%;
                            display: block;
                            text-align: center;

                            @include tablet {
                                width: unset;
                            }
                        }
                    }
                }
            }

        }
    }
}

.satisfaction-main-wrapper {
    @extend .container;
    padding-block: $space-110;

    .satisfaction {
        display: flex;
        gap: 95px;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
        }

        .satisfaction-body {
            h3 {
                color: $primary;
            }

            p {
                @extend .body2;
                padding-block: $space-12;
            }

            .line {
                width: 100%;
                height: 2px;
                background-color: $tertiary;
            }

            .customer-gem-sold {
                display: flex;
                align-items: center;
                gap: $space-110;
                padding-top: $space-16;

                h4 {
                    color: $primary;
                }
            }
        }

        .satisfaction-video {
            position: relative;

            .button-wrapper {
                display: flex;
                width: 100%;
                height: 92%;
                position: absolute;
                top: 37%;
                left: 50%;
                z-index: 2;
                transform: translate(-50%, -50%);
                align-items: center;
                justify-content: center;

                #button {
                    position: relative;
                    top: 13%;
                    background-color: $primary;
                    padding-inline: 32px;
                    padding-block: 25px;
                    color: $white;
                    font-size: 25px;
                    border-radius: 50%;
                    cursor: pointer;

                    @include desktop {
                        padding-inline: 32px;
                        padding-block: 25px;
                        font-size: 30px;
                    }
                }
            }

            video {
                width: 100%;
                height: auto;
                border-radius: $space-10;

                @include tablet {}

                @include desktop {
                    width: 630px;
                    height: 360px;
                }

            }


        }
    }
}


.profile-view {
    header {
        @extend .container;
        color: $dark-gray;
        text-align: center;
        padding-bottom: $space-60;

        h2 {
            padding-bottom: $space-12;
            color: $primary;
        }

        p {
            @extend .body2;
        }
    }

    .profile-main-wrapper {
        padding-inline: $space-10;

        .profile-info {
            border-radius: 5px;
            background: var(--color-3, #EBE4D7);
            padding: $space-12;

            .image-with-name {
                display: flex;
                align-items: center;
                gap: $space-8;
                padding-bottom: $space-8;

                .profile-image {
                    img {
                        width: 40px;
                        height: 40px;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }

                .profile-name {
                    @extend .body1;
                }
            }

            .profile-description {
                @extend .body2;
            }
        }
    }

    .slick-dots {
        @extend.container;
        bottom: -40px !important;
        left: 0;
        right: 0;

        li {
            background-color: $tertiary !important;
            border-radius: 15px;
            width: 15px;
            height: 15px;

            button {
                &::before {
                    font-size: 30px;
                    color: unset !important;
                }
            }
        }

        li.slick-active {
            background-color: $primary !important;
            border-radius: 15px;

        }
    }
}