@charset "UTF-8";
/* One should use it like this

.example {
  font-size: calculate-values (12, 20, 768, 1280);
*/
.h1,
h1 {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}
@media (min-width: 768px) {
  .h1,
  h1 {
    font-size: 48px;
    line-height: 58px;
  }
}
@media (min-width: 1280px) {
  .h1,
  h1 {
    font-size: 64px;
    line-height: 76px;
  }
}

.h2, .organic-main-wrapper .organic-heading,
h2 {
  font-family: "Inter", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
}
@media (min-width: 768px) {
  .h2, .organic-main-wrapper .organic-heading,
  h2 {
    font-size: 40px;
    line-height: 48px;
  }
}
@media (min-width: 1280px) {
  .h2, .organic-main-wrapper .organic-heading,
  h2 {
    font-size: 48px;
    line-height: 58px;
  }
}

.h3,
h3 {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
@media (min-width: 768px) {
  .h3,
  h3 {
    font-size: 32px;
    line-height: 40px;
  }
}
@media (min-width: 1280px) {
  .h3,
  h3 {
    font-size: 36px;
    line-height: 44px;
  }
}

.h4,
h4 {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
@media (min-width: 768px) {
  .h4,
  h4 {
    font-size: 24px;
    line-height: 32px;
  }
}
@media (min-width: 1280px) {
  .h4,
  h4 {
    font-size: 28px;
    line-height: 36px;
  }
}

.h5, .organic-main-wrapper .organic-wrapper .organic-name,
h5 {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
@media (min-width: 768px) {
  .h5, .organic-main-wrapper .organic-wrapper .organic-name,
  h5 {
    font-size: 20px;
    line-height: 28px;
  }
}
@media (min-width: 1280px) {
  .h5, .organic-main-wrapper .organic-wrapper .organic-name,
  h5 {
    font-size: 22px;
    line-height: 30px;
  }
}

.h6, .site-footer .footer-main-wrapper .region--footer-second .menu-items li a, .front-page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation .sf-menu > li ul li a,
#page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation .sf-menu > li ul li a, .front-page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation .sf-menu > li > a,
#page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation .sf-menu > li > a, .secondary, .primary, .style_2 .hero-section-wrapper .hero-section .hero-body .button-wrapper .explore-btn a, .style_1 .hero-section-wrapper .hero-section .hero-body .button-wrapper .whatsapp-btn a, .style_1 .hero-section-wrapper .hero-section .hero-body .button-wrapper .explore-btn a,
h6 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 22px;
}
@media (min-width: 768px) {
  .h6, .site-footer .footer-main-wrapper .region--footer-second .menu-items li a, .front-page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation .sf-menu > li ul li a,
  #page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation .sf-menu > li ul li a, .front-page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation .sf-menu > li > a,
  #page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation .sf-menu > li > a, .secondary, .primary, .style_2 .hero-section-wrapper .hero-section .hero-body .button-wrapper .explore-btn a, .style_1 .hero-section-wrapper .hero-section .hero-body .button-wrapper .whatsapp-btn a, .style_1 .hero-section-wrapper .hero-section .hero-body .button-wrapper .explore-btn a,
  h6 {
    line-height: 24px;
  }
}
@media (min-width: 1280px) {
  .h6, .site-footer .footer-main-wrapper .region--footer-second .menu-items li a, .front-page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation .sf-menu > li ul li a,
  #page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation .sf-menu > li ul li a, .front-page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation .sf-menu > li > a,
  #page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation .sf-menu > li > a, .secondary, .primary, .style_2 .hero-section-wrapper .hero-section .hero-body .button-wrapper .explore-btn a, .style_1 .hero-section-wrapper .hero-section .hero-body .button-wrapper .whatsapp-btn a, .style_1 .hero-section-wrapper .hero-section .hero-body .button-wrapper .explore-btn a,
  h6 {
    font-size: 18px;
    line-height: 26px;
  }
}

.body1, .profile-view .profile-main-wrapper .profile-info .image-with-name .profile-name, .style_2 .hero-section-wrapper .hero-section .hero-body p {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  line-height: 22px;
}
@media (min-width: 768px) {
  .body1, .profile-view .profile-main-wrapper .profile-info .image-with-name .profile-name, .style_2 .hero-section-wrapper .hero-section .hero-body p {
    font-size: 16px;
    line-height: 26px;
  }
}
@media (min-width: 1280px) {
  .body1, .profile-view .profile-main-wrapper .profile-info .image-with-name .profile-name, .style_2 .hero-section-wrapper .hero-section .hero-body p {
    font-size: 18px;
    line-height: 28px;
  }
}

.body2, .profile-view .profile-main-wrapper .profile-info .profile-description, .profile-view header p, .satisfaction-main-wrapper .satisfaction .satisfaction-body p {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
@media (min-width: 768px) {
  .body2, .profile-view .profile-main-wrapper .profile-info .profile-description, .profile-view header p, .satisfaction-main-wrapper .satisfaction .satisfaction-body p {
    line-height: 22px;
  }
}
@media (min-width: 1280px) {
  .body2, .profile-view .profile-main-wrapper .profile-info .profile-description, .profile-view header p, .satisfaction-main-wrapper .satisfaction .satisfaction-body p {
    font-size: 16px;
    line-height: 24px;
  }
}

.body3, .copy-right p, .text-image-wrapper .left-content .designation {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
@media (min-width: 768px) {
  .body3, .copy-right p, .text-image-wrapper .left-content .designation {
    font-size: 13px;
    line-height: 20px;
  }
}
@media (min-width: 1280px) {
  .body3, .copy-right p, .text-image-wrapper .left-content .designation {
    font-size: 14px;
  }
}

.primary, .style_2 .hero-section-wrapper .hero-section .hero-body .button-wrapper .explore-btn a, .style_1 .hero-section-wrapper .hero-section .hero-body .button-wrapper .whatsapp-btn a, .style_1 .hero-section-wrapper .hero-section .hero-body .button-wrapper .explore-btn a {
  background-color: #FFF8EA;
  color: #343434;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
}
.primary:hover, .style_2 .hero-section-wrapper .hero-section .hero-body .button-wrapper .explore-btn a:hover, .style_1 .hero-section-wrapper .hero-section .hero-body .button-wrapper .whatsapp-btn a:hover, .style_1 .hero-section-wrapper .hero-section .hero-body .button-wrapper .explore-btn a:hover {
  background-color: #6B5423;
  color: #fff;
  box-shadow: 0 2px 6.5px 0 #FFF8EA;
}

.secondary {
  background-color: #FFF8EA;
  color: #343434;
  padding: 10px 76px;
  border-radius: 10px;
}
.secondary:hover {
  background-color: #6B5423;
  color: #fff;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter/Inter_18pt-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter/Inter_18pt-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter_18pt-Bold.ttf);
  font-weight: 700;
}
.container, .site-footer, .front-page .logo-with-menu .region--header-top,
#page .logo-with-menu .region--header-top, .profile-view .slick-dots, .profile-view header, .satisfaction-main-wrapper, .style_2 .hero-section-wrapper .hero-section, .organic-main-wrapper, .style_1 .hero-section-wrapper .hero-section {
  padding-inline: 25px !important;
  margin-inline: auto;
}
@media (min-width: 768px) {
  .container, .site-footer, .front-page .logo-with-menu .region--header-top,
  #page .logo-with-menu .region--header-top, .profile-view .slick-dots, .profile-view header, .satisfaction-main-wrapper, .style_2 .hero-section-wrapper .hero-section, .organic-main-wrapper, .style_1 .hero-section-wrapper .hero-section {
    padding-inline: 60px !important;
  }
}
@media (min-width: 1280px) {
  .container, .site-footer, .front-page .logo-with-menu .region--header-top,
  #page .logo-with-menu .region--header-top, .profile-view .slick-dots, .profile-view header, .satisfaction-main-wrapper, .style_2 .hero-section-wrapper .hero-section, .organic-main-wrapper, .style_1 .hero-section-wrapper .hero-section {
    padding-inline: 80px !important;
    margin-inline: auto !important;
    max-width: 1440px;
  }
}

.container-2, .principle-stones-wrapper .heading h2, .text-image-wrapper {
  padding-inline: 25px !important;
  margin-inline: auto;
}
@media (min-width: 768px) {
  .container-2, .principle-stones-wrapper .heading h2, .text-image-wrapper {
    padding-inline: 60px !important;
  }
}
@media (min-width: 1280px) {
  .container-2, .principle-stones-wrapper .heading h2, .text-image-wrapper {
    padding-inline: 180px !important;
    margin-inline: auto !important;
    max-width: 1440px;
  }
}

.icon-google-plus {
  background-image: url("../icons/icon3.png");
}

.icon-discord {
  background-image: url("../icons/icon4.png");
}

.icon-youtube {
  background-image: url("../icons/icon5.png");
}

.icon-twitter {
  background-image: url("../icons/icon6.png");
}

.icon-instagram {
  background-image: url("../icons/icon7.png");
}

.success-message {
  position: fixed;
  z-index: 5;
  top: 80px;
  right: 0;
  left: 0;
  padding: 1.5rem 3.5rem;
  padding-left: 6rem;
  color: black;
  border: 2px solid #cfe8d3;
  border-radius: 8px;
  background-color: #f1f8f4;
}
.success-message::before {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  content: "✓";
  transform: translate(30%, -50%);
  color: #51dc6c;
  border: 10px solid #51dc6c;
  border-radius: 50%;
  background-color: white;
  font-size: 1.5rem;
}

.error-message {
  position: fixed;
  z-index: 5000;
  top: 80px;
  right: 0;
  left: 0;
  padding: 1.5rem 3.5rem;
  padding-left: 6rem;
  color: black;
  border: 2px solid #ecc1b6;
  border-radius: 8px;
  background-color: #faeeea;
}
.error-message::before {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  content: "❌";
  transform: translate(30%, -50%);
  color: #fb5858;
  border: 10px solid #fb5858;
  border-radius: 50%;
  background-color: white;
  font-size: 11px;
}

.info-message {
  position: fixed;
  z-index: 5000;
  top: 80px;
  right: 0;
  left: 0;
  padding: 1.5rem 3.5rem;
  padding-left: 6rem;
  color: black;
  border: 2px solid #ffd56c;
  border-radius: 8px;
  background-color: #fff9c4;
}
.info-message::before {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  content: "!";
  transform: translate(30%, -50%);
  color: #e9ba43;
  border: 10px solid #e9ba43;
  border-radius: 50%;
  background-color: white;
  font-size: 22px;
  font-weight: bold;
}

.message-wrapper {
  position: relative;
}
.message-wrapper .cross {
  position: absolute;
  top: -8px;
  right: 4px;
  cursor: pointer;
  color: gray;
  font-size: 1.5rem;
}

.grid, .principle-stones-wrapper .principle-stone {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}
@media (min-width: 768px) {
  .grid, .principle-stones-wrapper .principle-stone {
    grid-template-columns: repeat(8, 1fr);
  }
}
@media (min-width: 1280px) {
  .grid, .principle-stones-wrapper .principle-stone {
    grid-template-columns: repeat(12, 1fr);
  }
}

.primary-tabs {
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  list-style: none;
  border-bottom: 2px solid black;
  background: white;
  gap: 1rem;
  padding-top: 4px;
}
.primary-tabs li a {
  padding: 8px 12px;
  text-decoration: none;
  color: black;
}
.primary-tabs li a.is-active {
  display: inline-block;
  color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: black;
}
@media (min-width: 768px) {
  .primary-tabs {
    position: unset;
    flex-direction: row;
    width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFF8EA;
  color: #343434;
}

.hide-on-mobile {
  display: none !important;
}
@media (min-width: 768px) {
  .hide-on-mobile {
    display: block !important;
  }
}
@media (min-width: 1280px) {
  .hide-on-mobile {
    display: block !important;
  }
}

.hide-on-tablet-n-desktop {
  display: block !important;
}
@media (min-width: 768px) {
  .hide-on-tablet-n-desktop {
    display: none !important;
  }
}
@media (min-width: 1280px) {
  .hide-on-tablet-n-desktop {
    display: none !important;
  }
}

.hide-on-tablet {
  display: block !important;
}
@media (min-width: 768px) {
  .hide-on-tablet {
    display: none !important;
  }
}
@media (min-width: 1280px) {
  .hide-on-tablet {
    display: block !important;
  }
}

.hide-on-tablet-n-moblie {
  display: none !important;
}
@media (min-width: 768px) {
  .hide-on-tablet-n-moblie {
    display: none !important;
  }
}
@media (min-width: 1280px) {
  .hide-on-tablet-n-moblie {
    display: block !important;
  }
}

.success-message.message-body {
  display: none;
}

.hide-this-text {
  display: none;
}

.style_1 .hero-section-wrapper {
  background: radial-gradient(101.28% 101.28% at 50% 50%, #FFF8EA 0%, #7F6630 100%);
  padding-top: 8rem;
}
@media (min-width: 768px) {
  .style_1 .hero-section-wrapper {
    padding-top: 0;
  }
}
.style_1 .hero-section-wrapper .hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 768px) {
  .style_1 .hero-section-wrapper .hero-section {
    flex-direction: row;
    height: 687px;
  }
}
.style_1 .hero-section-wrapper .hero-section .hero-body h1 {
  padding-bottom: 30px;
  color: #6B5423;
}
.style_1 .hero-section-wrapper .hero-section .hero-body h1 span {
  color: #fff;
}
.style_1 .hero-section-wrapper .hero-section .hero-body .button-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 768px) {
  .style_1 .hero-section-wrapper .hero-section .hero-body .button-wrapper {
    flex-direction: row;
  }
}
.style_1 .hero-section-wrapper .hero-section .hero-body .button-wrapper .explore-btn {
  width: 100%;
}
@media (min-width: 768px) {
  .style_1 .hero-section-wrapper .hero-section .hero-body .button-wrapper .explore-btn {
    width: unset;
  }
}
.style_1 .hero-section-wrapper .hero-section .hero-body .button-wrapper .explore-btn a {
  width: 100%;
  display: block;
  text-align: center;
}
@media (min-width: 768px) {
  .style_1 .hero-section-wrapper .hero-section .hero-body .button-wrapper .explore-btn a {
    width: unset;
  }
}
.style_1 .hero-section-wrapper .hero-section .hero-body .button-wrapper .whatsapp-btn {
  width: 100%;
}
@media (min-width: 768px) {
  .style_1 .hero-section-wrapper .hero-section .hero-body .button-wrapper .whatsapp-btn {
    width: unset;
  }
}
.style_1 .hero-section-wrapper .hero-section .hero-body .button-wrapper .whatsapp-btn a {
  width: 100%;
  display: block;
  text-align: center;
}
@media (min-width: 768px) {
  .style_1 .hero-section-wrapper .hero-section .hero-body .button-wrapper .whatsapp-btn a {
    width: unset;
  }
}
.organic-main-wrapper {
  padding-block: 70px;
}
@media (min-width: 768px) {
  .organic-main-wrapper {
    padding-block: 100px;
  }
}
@media (min-width: 1280px) {
  .organic-main-wrapper {
    padding-block: 110px;
  }
}
.organic-main-wrapper .organic-heading {
  text-align: center;
  color: #6B5423;
}
.organic-main-wrapper .organic-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 35px;
  flex-direction: column;
}
@media (min-width: 768px) {
  .organic-main-wrapper .organic-wrapper {
    flex-direction: row;
    padding-top: 60px;
  }
}
.organic-main-wrapper .organic-wrapper .organic-image {
  text-align: center;
}
.organic-main-wrapper .organic-wrapper .organic-image img {
  height: 135px;
}
.style_2 {
  position: relative;
}
.style_2 .hero-image img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}
@media (min-width: 768px) {
  .style_2 .hero-image img {
    height: 330px;
  }
}
@media (min-width: 1280px) {
  .style_2 .hero-image img {
    height: 388px;
  }
}
.style_2 .hero-image::after {
  content: "";
  position: absolute;
  inset: 0;
  height: 280px;
  background: linear-gradient(90deg, rgba(107, 84, 35, 0.8) 14.56%, rgba(255, 248, 234, 0.8) 100%);
}
@media (min-width: 768px) {
  .style_2 .hero-image::after {
    height: 330px;
  }
}
@media (min-width: 1280px) {
  .style_2 .hero-image::after {
    height: 388px;
  }
}
.style_2 .hero-section-wrapper .hero-section {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  padding-block: 30px;
}
@media (min-width: 768px) {
  .style_2 .hero-section-wrapper .hero-section {
    padding-block: 35px;
  }
}
@media (min-width: 1280px) {
  .style_2 .hero-section-wrapper .hero-section {
    padding-block: 68px;
  }
}
.style_2 .hero-section-wrapper .hero-section .hero-body {
  width: 100%;
}
@media (min-width: 768px) {
  .style_2 .hero-section-wrapper .hero-section .hero-body {
    width: 60%;
  }
}
@media (min-width: 1280px) {
  .style_2 .hero-section-wrapper .hero-section .hero-body {
    width: 50%;
  }
}
.style_2 .hero-section-wrapper .hero-section .hero-body h3 {
  color: #fff;
}
.style_2 .hero-section-wrapper .hero-section .hero-body p {
  color: #fff;
  padding-block: 8px 12px;
}
.style_2 .hero-section-wrapper .hero-section .hero-body .button-wrapper {
  display: flex;
}
.style_2 .hero-section-wrapper .hero-section .hero-body .button-wrapper .explore-btn {
  width: 100%;
}
@media (min-width: 768px) {
  .style_2 .hero-section-wrapper .hero-section .hero-body .button-wrapper .explore-btn {
    width: unset;
  }
}
.style_2 .hero-section-wrapper .hero-section .hero-body .button-wrapper .explore-btn a {
  width: 100%;
  display: block;
  text-align: center;
}
@media (min-width: 768px) {
  .style_2 .hero-section-wrapper .hero-section .hero-body .button-wrapper .explore-btn a {
    width: unset;
  }
}

.satisfaction-main-wrapper {
  padding-block: 110px;
}
.satisfaction-main-wrapper .satisfaction {
  display: flex;
  gap: 95px;
  flex-direction: column;
}
@media (min-width: 768px) {
  .satisfaction-main-wrapper .satisfaction {
    flex-direction: row;
  }
}
.satisfaction-main-wrapper .satisfaction .satisfaction-body h3 {
  color: #6B5423;
}
.satisfaction-main-wrapper .satisfaction .satisfaction-body p {
  padding-block: 12px;
}
.satisfaction-main-wrapper .satisfaction .satisfaction-body .line {
  width: 100%;
  height: 2px;
  background-color: #EBE4D7;
}
.satisfaction-main-wrapper .satisfaction .satisfaction-body .customer-gem-sold {
  display: flex;
  align-items: center;
  gap: 110px;
  padding-top: 16px;
}
.satisfaction-main-wrapper .satisfaction .satisfaction-body .customer-gem-sold h4 {
  color: #6B5423;
}
.satisfaction-main-wrapper .satisfaction .satisfaction-video {
  position: relative;
}
.satisfaction-main-wrapper .satisfaction .satisfaction-video .button-wrapper {
  display: flex;
  width: 100%;
  height: 92%;
  position: absolute;
  top: 37%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
}
.satisfaction-main-wrapper .satisfaction .satisfaction-video .button-wrapper #button {
  position: relative;
  top: 13%;
  background-color: #6B5423;
  padding-inline: 32px;
  padding-block: 25px;
  color: #fff;
  font-size: 25px;
  border-radius: 50%;
  cursor: pointer;
}
@media (min-width: 1280px) {
  .satisfaction-main-wrapper .satisfaction .satisfaction-video .button-wrapper #button {
    padding-inline: 32px;
    padding-block: 25px;
    font-size: 30px;
  }
}
.satisfaction-main-wrapper .satisfaction .satisfaction-video video {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
@media (min-width: 1280px) {
  .satisfaction-main-wrapper .satisfaction .satisfaction-video video {
    width: 630px;
    height: 360px;
  }
}

.profile-view header {
  color: #343434;
  text-align: center;
  padding-bottom: 60px;
}
.profile-view header h2 {
  padding-bottom: 12px;
  color: #6B5423;
}
.profile-view .profile-main-wrapper {
  padding-inline: 10px;
}
.profile-view .profile-main-wrapper .profile-info {
  border-radius: 5px;
  background: var(--color-3, #EBE4D7);
  padding: 12px;
}
.profile-view .profile-main-wrapper .profile-info .image-with-name {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 8px;
}
.profile-view .profile-main-wrapper .profile-info .image-with-name .profile-image img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.profile-view .slick-dots {
  bottom: -40px !important;
  left: 0;
  right: 0;
}
.profile-view .slick-dots li {
  background-color: #EBE4D7 !important;
  border-radius: 15px;
  width: 15px;
  height: 15px;
}
.profile-view .slick-dots li button::before {
  font-size: 30px;
  color: unset !important;
}
.profile-view .slick-dots li.slick-active {
  background-color: #6B5423 !important;
  border-radius: 15px;
}

.front-page .logo-with-menu,
#page .logo-with-menu {
  background-color: #6B5423;
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 12%;
}
.front-page .logo-with-menu .region--header-top,
#page .logo-with-menu .region--header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.front-page .logo-with-menu .region--header-top #block-sass-theme-msd-site-branding a img,
#page .logo-with-menu .region--header-top #block-sass-theme-msd-site-branding a img {
  padding-block: 6px;
}
.front-page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation,
#page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation {
  width: 60%;
}
@media (min-width: 768px) {
  .front-page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation,
  #page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation {
    width: auto;
  }
}
.front-page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation .sf-menu,
#page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation .sf-menu {
  position: absolute;
  background: rgba(107, 84, 35, 0.5);
  backdrop-filter: blur(10px);
  margin-top: 12px;
}
@media (min-width: 768px) {
  .front-page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation .sf-menu,
  #page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation .sf-menu {
    position: relative;
    background-color: transparent !important;
    backdrop-filter: unset !important;
    margin-top: unset !important;
  }
}
.front-page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation .sf-menu > li,
#page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation .sf-menu > li {
  padding: 10px 12px !important;
}
@media (min-width: 768px) {
  .front-page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation .sf-menu > li,
  #page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation .sf-menu > li {
    padding: 0 45px !important;
  }
}
.front-page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation .sf-menu > li > a,
#page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation .sf-menu > li > a {
  text-decoration: none;
  padding: 0 !important;
  color: #fff;
}
.front-page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation .sf-menu > li > a .sf-sub-indicator,
#page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation .sf-menu > li > a .sf-sub-indicator {
  right: unset !important;
  left: 3em !important;
}
.front-page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation .sf-menu > li > a .sf-sub-indicator::after,
#page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation .sf-menu > li > a .sf-sub-indicator::after {
  content: url(../icons/Vector.svg) !important;
}
.front-page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation .sf-menu > li ul,
#page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation .sf-menu > li ul {
  padding: 0 !important;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .front-page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation .sf-menu > li ul,
  #page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation .sf-menu > li ul {
    background: rgba(107, 84, 35, 0.5);
    backdrop-filter: blur(10px);
    width: 14em !important;
    padding: 12px !important;
    margin-top: 10px;
  }
}
.front-page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation .sf-menu > li ul li,
#page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation .sf-menu > li ul li {
  padding-block: 8px !important;
}
.front-page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation .sf-menu > li ul li a,
#page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation .sf-menu > li ul li a {
  text-decoration: none;
  color: #fff;
  padding: 0 !important;
}
@media (min-width: 768px) {
  .front-page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation .sf-menu li.sf-last,
  #page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation .sf-menu li.sf-last {
    padding-right: 0 !important;
  }
  .front-page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation .sf-menu li.sf-first,
  #page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation .sf-menu li.sf-first {
    padding-left: 0 !important;
  }
}
.front-page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation .sf-accordion-toggle,
#page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation .sf-accordion-toggle {
  display: flex;
  justify-content: end;
}
.front-page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation .sf-accordion-toggle a,
#page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation .sf-accordion-toggle a {
  text-decoration: none;
}
.front-page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation .sf-accordion-toggle a span,
#page .logo-with-menu .region--header-top #block-sass-theme-msd-mainnavigation .sf-accordion-toggle a span {
  color: #fff;
  font-size: 45px;
}

.banner-wrapper {
  margin-block: 100px;
  position: relative;
}
.banner-wrapper .image-wrapper img {
  width: 100%;
  height: 241px;
}
.banner-wrapper .image-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.8;
  background-color: var(--color-3, #EBE4D7);
}
.banner-wrapper .banner-text {
  position: absolute;
  top: 20%;
  left: 0;
  width: 70%;
}
.banner-wrapper .banner-text h1 {
  color: #6B5423;
}

.text-image-wrapper {
  display: flex;
  gap: 20px;
}
.text-image-wrapper .left-content {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-image-wrapper .left-content .image-wrapper img {
  width: 100%;
  height: 362px;
  object-fit: cover;
  border-radius: 20px;
}
.text-image-wrapper .left-content .profile-name {
  color: #6B5423;
  padding-block: 12px 4px;
}
.text-image-wrapper .left-content .designation {
  color: #000;
}
.text-image-wrapper .right-content {
  width: 60%;
  padding-block: 30px;
}
.text-image-wrapper .right-content h3 {
  color: #6B5423;
}
.text-image-wrapper .right-content p {
  color: #343434;
}
.text-image-wrapper .right-content .line {
  width: 100%;
  height: 2px;
  background-color: #EBE4D7;
  margin-block: 32px;
}

.principle-stones-wrapper {
  padding-block: 110px;
}
.principle-stones-wrapper .heading {
  background-color: #EBE4D7;
  padding-block: 26px;
}
.principle-stones-wrapper .heading h2 {
  color: #6B5423;
  text-align: center;
}
.principle-stones-wrapper .principle-stone {
  padding-block: 70px;
}
.principle-stones-wrapper .principle-stone .paragraph--type--natural-organic {
  grid-column: span 4;
  display: flex;
  gap: 10px;
  padding-bottom: 52px;
}
.principle-stones-wrapper .principle-stone .paragraph--type--natural-organic .organic-image {
  width: 25px;
  height: 25px;
  background-color: #EBE4D7;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 25px;
}
.principle-stones-wrapper .principle-stone .paragraph--type--natural-organic .organic-image img {
  width: 25px;
  height: 25px;
}
.principle-stones-wrapper .principle-stone .paragraph--type--natural-organic .organic-name h5 {
  color: #000;
  padding-bottom: 18px;
}
.principle-stones-wrapper .principle-stone .paragraph--type--natural-organic .organic-name p {
  color: #000;
}

.site-footer .footer-main-wrapper {
  display: flex;
  justify-content: space-between;
  padding-block: 110px 45px;
  flex-direction: column;
}
@media (min-width: 768px) {
  .site-footer .footer-main-wrapper {
    flex-direction: row;
  }
}
.site-footer .footer-main-wrapper .region--footer-first img {
  width: 105px;
  height: 105px;
  object-fit: cover;
}
@media (min-width: 1280px) {
  .site-footer .footer-main-wrapper .region--footer-first img {
    width: 197px;
    height: 194px;
  }
}
.site-footer .footer-main-wrapper .region--footer-second {
  color: #343434;
  padding-block: 20px 20px;
}
@media (min-width: 768px) {
  .site-footer .footer-main-wrapper .region--footer-second {
    padding-block: 0;
  }
}
.site-footer .footer-main-wrapper .region--footer-second h5 {
  padding-bottom: 12px;
  color: #6B5423;
}
.site-footer .footer-main-wrapper .region--footer-second .menu-items li {
  list-style: none;
  padding-bottom: 8px;
}
.site-footer .footer-main-wrapper .region--footer-second .menu-items li a {
  text-decoration: none;
  color: #343434;
}
.site-footer .footer-main-wrapper .region--footer-third {
  color: #343434;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .site-footer .footer-main-wrapper .region--footer-third {
    padding-block: 0;
  }
}
.site-footer .footer-main-wrapper .region--footer-third h5 {
  padding-bottom: 12px;
  color: #6B5423;
}
.site-footer .footer-main-wrapper .region--footer-third h6 {
  padding-bottom: 8px;
}
.site-footer .footer-main-wrapper .region--footer-fourth .social-media-links--platforms {
  display: flex;
  gap: 20px;
}
@media (min-width: 768px) {
  .site-footer .footer-main-wrapper .region--footer-fourth .social-media-links--platforms {
    flex-direction: column;
  }
}
.site-footer .footer-main-wrapper .region--footer-fourth .social-media-links--platforms li svg {
  color: #6B5423;
  width: 30px;
  height: 30px;
}

.copy-right {
  text-align: center;
}
.copy-right .line {
  width: 100%;
  height: 2px;
  background-color: #6B5423;
}
.copy-right p {
  padding-top: 20px;
}

/*# sourceMappingURL=style.css.map */
